/* global */
.hidden{
    display: none;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* input */

input, select{
    padding: 10px;
    border: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
.search-filter{
    border: solid 1px lightgray;
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* all pages */

.logo{
    background-image: url('../imgs/logo.png');
    width: 180px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}
header{
    width: 100%;
    justify-content: flex-end;
}
header > div{
    margin: 5px;
    align-items: baseline;
}
.btn-header{
    background-color: rgba(255,255,255,0);
    border: none;
}
.content-menu > *{
    margin: 0 5px;
}
/* home page */

.home-content{
    margin: 200px auto 0;
}
.home-content > div{
    width: 100%;
    justify-content: center;
}
.search-img-logo{
    background-image: url('../imgs/loupe.png');
}
.search-img-calandar{
    background-image: url('../imgs/calandar.png');
    
}
.search-img-chamber{
    background-image: url('../imgs/chamber.png');

}
.search-img-logo, .search-img-calandar, .search-img-chamber{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
}
.search-date-text{
    padding: 5px 20px 0;
}
.search-btn{
    background-color: #007fad;
    width: 100px;
    color: white;
}