/* global */
.hidden{
    display: none;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 250px;
    width: auto !important;
    width:250px;
}

/* input */

input, select{
    padding: 10px;
    border: none;
    cursor: pointer;
}
input[type="date"]{
    padding: 0;
}
button{
    cursor: pointer;
}

/* all pages */

.logo-menu, .logo-home{
    background-image: url('../imgs/logo.png');
    width: 180px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
}
.logo-menu{
    display: none;
}
.title-menu, .burger-menu{
    display: none;
}
.title-menu{
    font-weight: bolder;
    font-size: 20px;
    flex-grow: 5;
}
.burger-menu{
    align-items: center;
    padding: 0 20px;
}
.burger-menu:hover{
    background-color: lightgray;
    cursor: pointer;
}
.close-menu{
    font-size: 50px;
    color: gray;
    flex-grow: 1;
}
.close-menu:hover{
    background-color: lightgray;
    cursor: pointer;
}
header{
    width: 100%;
    justify-content: flex-end;
}
header > div{
    margin: 5px;
    align-items: baseline;
}
.head-burger-menu{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.head-burger-menu>*{
    justify-content: center;
}
.btn-header{
    background-color: rgba(255,255,255,0);
    border: none;
}
.content-menu > *{
    margin: 0 5px;
}
#menuList{
    position: fixed;
    border: solid 1px gray;
    padding: 5px;
    border-radius: 5px;
    top: 55px;
}
#languageList{
    position: fixed;
    border: solid 1px gray;
    padding: 5px;
    border-radius: 5px;
    top: 55px;
    right: 10px;
}
#menuList>div, #languageList>div{
    cursor: pointer;
    font-size: 14px;
}
#menuList>div:hover, #languageList>div:hover{
    background-color: lightblue;
}

/* home page */

.home-content{
    margin: 100px auto 0;
}
.home-content > div{
    width: 100%;
    justify-content: center;
}
.text-find-hotel{
    font-size: 30px;
}
.search-img-logo{
    background-image: url('../imgs/loupe.png');
}
.search-img-calandar{
    background-image: url('../imgs/calandar.png');
    
}
.search-img-chamber{
    background-image: url('../imgs/chamber.png');
    
}
.search-img-logo, .search-img-calandar, .search-img-chamber{
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
}
.search-date-text{
    padding: 5px 20px 0;
    font-size: 12px;
}
.search-btn{
    background-color: #007fad;
    width: 100px;
    height: 36px;
    color: white;
    font-weight: bolder;
}
.search-filter{
    border: solid 1px black;
    border-radius: 2px;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    margin: 5px;
    flex-shrink: 0;
}
.search-text{
    flex-basis: 300px;
    flex-shrink: 1;
}
#roomList{
    position: absolute;
    border: solid 1px gray;
    padding: 5px;
    border-radius: 5px;
    right: 20%;
}
#roomList>*{
    padding: 5px;
}

/* Responsive */

.display-menu{
    width: 100%;
}

@media (max-width: 980px){
    .logo-menu{
        display: flex;
    }
    .logo-home, .search-img-logo, .search-img-chamber{
        display: none;
    }
    .content-menu{
        position: absolute;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: rgb(255,255,255);
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .content-menu>*, #menuList>*{
        width: 100%;
        border-bottom: solid 1px lightgray;
        min-height: 50px;
        display: flex;
        align-content: center;
    }
    .title-menu, .burger-menu, .close-menu{
        display: flex;
    }
    .btn-menu{
        display: none;
    }
    #languageList{
        position: relative;
        top: 0;
        left: 0;
    }
    #menuList{
        display: flex;
        flex-wrap: wrap;
        position: initial;
        border: none;
        width: 100%;
    }

    @media (max-width: 580px){
        .search-filters{
            background-color: whitesmoke;
            flex-wrap: wrap;
        }
        .search-btn{
            width: 100%;
        }

    }
}