/* Variable */

body{
    --max-width-medium: 720px;
    --max-width-small: 540px;
}

/* global */
.hidden{
    display: none;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 250px;
    width: auto !important;
    width:250px;
}

/* input */

input, select{
    padding: 10px;
    border: none;
    cursor: pointer;
}
input[type="date"]{
    padding: 0;
}
button{
    cursor: pointer;
}